<h1>Editing Book</h1>

<!--エラー文-->
<% if @Book.errors.any? %>
  <%= @Book.errors.count %> errors prohibited this book from being saved:
  <ul>
    <% @Book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<!--投稿編集-->
<%= form_with model: @Book, url: book_path(id: @Book.id), method: :patch do |f| %>
<div class=form>
  <div><%= f.label :title %></div>
  <div class="field"><%= f.text_field :title %></div>
  <div><%= f.label :body %></div>
  <div class="area"><%= f.text_area :body %></div>
  <div class="submit"><%= f.submit 'Update Book' %></div>
</div>
<% end %>

<!--リンク-->
<div class="link">
  <%= link_to 'Show', book_path(@Book.id) %>
  |
  <%= link_to 'Back', '/books' %>
</div>

