<div>
  <%= flash[:notice] %>
</div>

<p><strong>Title:</strong> <%= @Book.title %></p>
<p><strong>Body:</strong> <%= @Book.body %></p>

<%= link_to 'Edit', edit_book_path(@Book.id) %>
<%= link_to 'Back', '/books' %>
